{% extends "::empty.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

<div id="login" class="container center-block">
    <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a href="{{ path('home') }}"><p class="text-center">Retour à l'accueil</p></a>
    <br>
</div>
{% endblock content %}
