<!-- footer -->
<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4">
                Moving Mate © 2017. ESGI.
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#" data-toggle="modal" data-target="#conditions-modal">Conditions générales</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- modal conditions -->
<div class="modal fade" id="conditions-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div id="conditions" class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Fermer</span>
                </button>
                <div class="form-wrap">
                    <h1>Conditions général</h1>
                    <p>Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties
                        dans le cadre de la vente en ligne de Produits proposés par le Vendeur.
                        Les présentes Conditions Générales de Vente (CGV) s’appliquent à toutes les ventes de Produits,
                        effectuées au travers des sites Internet de la Société qui sont partie intégrante du Contrat entre
                        l’Acheteur et le Vendeur. Le Vendeur se réserve la possibilité de modifier les présentes, à tout
                        moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors
                        sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements
                        multiples) de la commande. Ces CGV sont consultables sur le site Internet de la Société à
                        l'adresse suivante  . La Société s’assure également que leur acceptation soit claire et sans
                        réserve en mettant en place une case à cocher et un clic de validation. Le Client déclare avoir pris
                        connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant
                        Les présentes Conditions Générales de Vente (CGV) s’appliquent à toutes les ventes de Produits,
                        effectuées au travers des sites Internet de la Société qui sont partie intégrante du Contrat entre
                        l’Acheteur et le Vendeur. Le Vendeur se réserve la possibilité de modifier les présentes, à tout
                        moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors
                        sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements
                        multiples) de la commande. Ces CGV sont consultables sur le site Internet de la Société à
                        l'adresse suivante  . La Société s’assure également que leur acceptation soit claire et sans
                        réserve en mettant en place une case à cocher et un clic de validation. Le Client déclare avoir pris
                        connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas échéant</p>
                        <button type="button" class="" data-dismiss="modal">
                        <span >J'ai compris</span>
                    </button>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>