<p>Bonjour {{ user.username }} !</p>

<p>Tu peux reinitialiser ton mot de passe dès à présent grace au liens ci dessous:</p>
<p>{{ confirmationUrl }}</p>

<p>Nous vous souhaitons une belle journée,<br>
Le Club des Critiques</p>